/Synom/build/
/Synom/dist/
/Synom_0.1/nbproject/private/
/Synom_0.1/build/
/Synom_0.1/CalculatorApp/nbproject/private/
/Synom_0.1/CalculatorClientApp/nbproject/private/
/Synom_0.1/CalculatorClientApp/build/
/Synom_0.1/test-app/nbproject/private/
/Synom_0.1/test-app/build/
/Synom_0.1/Synom_0.1/build/
/Synom_0.1/Synom_0.1/nbproject/private/